@using Portfolio.Components.Layout
@inherits LayoutComponentBase

<header class="top-bar">
    <NavMenu />

    <div class="header-tools">
        <LanguageSwitcher />
    </div>
</header>

<main>
    @Body
</main>