@page "/admin/projects"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin Projects</PageTitle>

<h1>Manage projects</h1>
<p>This will be your private project editor area.</p>